Weights/resnet18_torchvision/test52_epoch298.pth
Visualization/test52_activations.parquet
Weights/resnet18_torchvision/test43_epoch346.pth
Visualization/test43_activations.parquet
Weights/resnet18_torchvision/test64_epoch347.pth
Visualization/collate_images.py
Visualization/test65_activations.parquet
Visualization/Leaky ReLU.png
Visualization/sigmoid.png
Visualization/Step Func.png
bestconfmat_test65.png
dataframe_test65
Visualization/test69_activations.parquet
Visualization/test71_activations.parquet
Weights/resnet18_torchvision/test71_epoch0.pth
Weights/resnet18_torchvision/test71_epoch5.pth
Weights/resnet18_torchvision/test71_epoch10.pth
Weights/resnet18_torchvision/test71_epoch16.pth
Weights/resnet18_torchvision/test71_epoch30.pth
Weights/resnet18_torchvision/test71_epoch34.pth
Weights/resnet18_torchvision/test71_epoch39.pth
Weights/resnet18_torchvision/test71_epoch48.pth
Weights/resnet18_torchvision/test71_epoch98.pth
Dataframes/fc.parquet
Dataframes/layer2 0 conv2.parquet
Dataframes/layer3 0 conv2.parquet
Dataframes/layer3 1 conv2.parquet
Dataframes/test43_activations.parquet
Dataframes/test65_activations.parquet
Dataframes/test69_activations.parquet
Dataframes/test71_activations.parquet
Weights/resnet34/test72_epoch446.pth
